/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

button
  background-color: blue

div.theme-default-content:not(.custom) {
  max-width: 80%;
}

.page {
  font-size 1.2em
}

.page img{
  display: block
}